body,html {
	background: #eee;
	font-family: 'Acme', sans-serif;
	font-size: 20px; margin : 0;
	padding: 0;
	margin: 0;
}

.page-header {
	margin-top: 100px;
	padding-top: 10px;
	padding-right: 20px;
	font-size: 25px;
}
.toolbar {
	background: #888a85;
	height: 80px;
	display: table;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 9999;
	transition: height 0.5s;
}

.btn-delete {
	background-color: #a40000 !important;
	color: #eee !important;
}

.btn-confirm {
	background-color: #729fcf !important;
	color: #000 !important;
}

.toolbar-content {
	padding-left: 5%;
	display: table-cell;
	vertical-align: middle;
}

.toolbar-search-input {
	margin:1px 20px 1px 1px;
}

a {
	color: #fff;
	text-decoration: none;
}

.toolbar-item {
	padding-left: 1em;
	padding-right: 1em;
}