
[role="columnheader"]:first-child {
	width: 60px !important;
}

[id$=':reagent-name'] {
	width: 300px;
}

[id='j_idt11:reagent-quantity'] {
	width: 100px;
}

[id='j_idt11:reagent-barcode'] {
	width: 100px;
}

[id='j_idt11:reagent-receiveDate'] {
	width: 120px;
}


[role="columnheader"]:last-child {
	width: 290px;
	white-space: nowrap;
}

.ui-dialog {
	top: 100px !important;
}

.fa-check, .fa-window-close {
	width: 30px;
	height: 30px;
}

.ui-g .ui-g-12:first-child {
	width: 35% !important;
}

.ui-g .ui-g-12:last-child {
	width: 65%;
}